body{
    background-color:black;
}
header{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align:left;
    color:aqua;
}
.temas ul li{
    display: inline-block;
    padding-right: 8px;
}
ul{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}
h2{
    color: aqua;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
article{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-size: 25px;
}
img{
    border-radius: 80px;
    padding: 15px;
    border: 3px inset aqua;
    margin-top: 20px;
    margin-bottom: 20px;
}
footer{
    
    border-radius: 80px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.botao a img{
    width: 30px;
    height: 30px;
}
p{
    border-radius: 80px;
    padding: 15px;
    border: 3px inset aqua;
}
